extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
    .container
      a.navbar-brand(href='#') Charlesn's Page
      button.navbar-toggler(type='button', data-toggle='collapse', 
      data-target='#navbarResponsive', aria-controls='navbarResponsive', 
      aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='#') 
            //- Sign Up
          li.nav-item
            a.nav-link(href='#') 
            //- Log In
  header.masthead.text-center.text-white
    .masthead-content
      .container
        h1.masthead-heading.mb-0 Express & Bootstrap
        h2.masthead-subheading.mb-0 Linux ubuntu 기반!
        h2.masthead-subheading.mb-0 꾸며지는 중이에요.
        //-a.btn.btn-primary.btn-xl.rounded-pill.mt-5(href='#') Learn More
    .bg-circle-1.bg-circle
    .bg-circle-2.bg-circle
    .bg-circle-3.bg-circle
    .bg-circle-4.bg-circle
  section
    .container
      .row.align-items-center
        .col-lg-6.order-lg-2
          .p-5
            img.img-fluid.rounded-circle(src='/images/01.jpg', alt='')
        .col-lg-6.order-lg-1
          .p-5
            h2.display-4 For those about to rock...
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
  section
    .container
      .row.align-items-center
        .col-lg-6
          .p-5
            img.img-fluid.rounded-circle(src='/images/02.jpg', alt='')
        .col-lg-6
          .p-5
            h2.display-4 We salute you!
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
  section
    .container
      .row.align-items-center
        .col-lg-6.order-lg-2
          .p-5
            img.img-fluid.rounded-circle(src='/images/03.jpg', alt='')
        .col-lg-6.order-lg-1
          .p-5
            h2.display-4 Let there be rock!
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
  //- Footer
  footer.py-5.bg-black
    .container
      p.m-0.text-center.text-white.small Copyright © Your Website 2017
    //- /.container
    //- Bootstrap core JavaScript
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    //- 부가적인 테마
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css')
    //- 합쳐지고 최소화된 최신 자바스크립트
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')